.footer-bar {
    position: sticky;
    width: 100%;
    z-index: 3;
    display: flex;
    bottom: 0;
}

.icon-button {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    /* padding-right: 1rem; */
    margin-left: 1rem;
}
