.content {
    color: white;
}

.title {
    color: white;
}

.username {
    color: white;
    font-size: larger;
}

.ptagz-comments {
    color: white;
    font-size: larger;
}

.ptagz-usename {
    color: white;
}
