.upload-image-background {
	background: url('https://wallpapercave.com/wp/wp3322421.jpg')
		no-repeat center center fixed;
		background-size: cover;
		height: 100vh;
		width: 100%;
		justify-content: center;
		position: absolute;
		top: 0
}


.upload-image-h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.upload-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5rem;
}

.upload-form {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.submit-upload {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 2.6rem;
    text-shadow: 3px 3px black;
}


.upload-input {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 11rem;
    margin-right: 11rem;
    border: black solid 2px;
    color: black;
    background: rgba(255, 255, 255,0.7);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    width: 400px;
}

.upload-text-area {
    margin-left: 9rem;
    margin-right: 9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    border: black solid 2px;
    color: black;
    background: rgba(255, 255, 255,0.7);
    border-radius: 8px;
    width: 450px;
}

::placeholder {
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}
